body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px;
    text-align: center;
}

#intro {
    background-color: #0d550b;
}

.person-content{
    display: flex;
}

.left-div{
    width: 50%;
    background: white;
}

.right-div{
}

.tittle{
    font-size:300%;
}

.emagrecimento{
    display: inline-block;
    padding: 10px 20px;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
}

.h3-intro{
    font-weight: 100;
    padding: 40px;
    text-align: justify;
}
.span1{
    font-weight: 900;
}

.button1{
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 40px; /* Borda arredondada */
    cursor: pointer;
}

#about-section,
#feedback-section {
    background-color: #f0f0f0;
}

#plans-section {
    background-color: #e0e0e0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

iframe {
    width: 80%;
    height: 500px;
}

.plan {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 30%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
